
@{
    ViewBag.Title = "Login";
}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="wrap d-md-flex" style="box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%); ">
                <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last col" style="background: #7dd352;">
                    <div class="text w-100">
                        <h2 class="mb-3">Chào mừng đến với đồ gỗ Hưng Hà</h2>
                        <p>Bạn chưa có tài khoản?</p>
                        <a href="@Url.Action("Register", "Security")" class="btn btn-outline-light">Đăng kí</a>
                    </div>
                </div>
                <div class="login-wrap p-4 p-lg-5 col">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">Đăng nhập</h3>
                        </div>
                    </div>
                    <form action="#" class="signin-form">
                        <div class="form-group mb-3">
                            <label class="label" for="name">Tài khoản</label>
                            <input type="text" name="username" class="form-control" placeholder="Tài khoản" required="">
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="password">Mật khẩu</label>
                            <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3" name="submit" value="login">Đăng nhập</button>
                        </div>
                        <div class="form-group">
                            <div class="w-50">
                                <a href="#">Quên mật khẩu</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

