USE [hung_ha_store]
GO
/****** Object:  Table [dbo].[chitiet_hd]    Script Date: 3/31/2022 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiet_hd](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_hd] [int] NOT NULL,
	[id_sp] [int] NOT NULL,
	[gia_tien] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
	[ten_sp] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_chitiet_hd] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dat_hang]    Script Date: 3/31/2022 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dat_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[id_sp] [int] NOT NULL,
	[tg_tao] [date] NOT NULL,
 CONSTRAINT [PK_dat_hang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 3/31/2022 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_nd] [int] NOT NULL,
	[trang_thai] [int] NOT NULL,
	[tong_tien] [int] NOT NULL,
	[ten_nguoi_nhan] [nvarchar](255) NOT NULL,
	[dia_chi_nhan] [nvarchar](255) NOT NULL,
	[phuong_thuc] [int] NOT NULL,
	[sdt_nhan] [nvarchar](255) NOT NULL,
	[tg_tao] [date] NOT NULL,
 CONSTRAINT [PK_hoa_don] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kho]    Script Date: 3/31/2022 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kho](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[so_luong] [int] NOT NULL,
 CONSTRAINT [PK_kho] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_sp]    Script Date: 3/31/2022 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_sp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[tg_tao] [date] NOT NULL,
 CONSTRAINT [PK_loai_sp] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 3/31/2022 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan] [nvarchar](255) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[ho_ten] [nvarchar](255) NULL,
	[ngay_sinh] [date] NULL,
	[sdt] [nchar](11) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[gioi_tinh] [int] NULL,
	[quyen] [int] NOT NULL,
	[tg_tao] [date] NOT NULL,
 CONSTRAINT [PK_nguoi_dung] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_cung_cap]    Script Date: 3/31/2022 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_cung_cap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[dia_chi] [nvarchar](255) NULL,
	[sdt] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
 CONSTRAINT [PK_nha_cung_cap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 3/31/2022 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[id_loai_sp] [int] NOT NULL,
	[gia_tien] [int] NOT NULL,
	[giam_gia] [int] NOT NULL,
	[mo_ta] [nvarchar](255) NOT NULL,
	[id_kho] [int] NOT NULL,
	[id_ncc] [int] NULL,
	[hinh_anh] [nvarchar](255) NULL,
	[luot_xem] [int] NOT NULL,
	[tg_tao] [date] NOT NULL,
 CONSTRAINT [PK_san_pham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chitiet_hd] ON 

INSERT [dbo].[chitiet_hd] ([id], [id_hd], [id_sp], [gia_tien], [so_luong], [ten_sp]) VALUES (7, 2, 3, 1600000, 1, N'Giá kệ sách gỗ thiết kế đơn giản GHS-2398')
INSERT [dbo].[chitiet_hd] ([id], [id_hd], [id_sp], [gia_tien], [so_luong], [ten_sp]) VALUES (8, 2, 4, 1900000, 1, N'Kệ để sách báo gỗ MDF phủ melamine GHS-2397')
INSERT [dbo].[chitiet_hd] ([id], [id_hd], [id_sp], [gia_tien], [so_luong], [ten_sp]) VALUES (9, 3, 4, 1900000, 1, N'Kệ để sách báo gỗ MDF phủ melamine GHS-2397')
SET IDENTITY_INSERT [dbo].[chitiet_hd] OFF
GO
SET IDENTITY_INSERT [dbo].[dat_hang] ON 

INSERT [dbo].[dat_hang] ([id], [email], [id_sp], [tg_tao]) VALUES (1, N'hai@gmail.com', 5, CAST(N'2022-03-18' AS Date))
SET IDENTITY_INSERT [dbo].[dat_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

INSERT [dbo].[hoa_don] ([id], [id_nd], [trang_thai], [tong_tien], [ten_nguoi_nhan], [dia_chi_nhan], [phuong_thuc], [sdt_nhan], [tg_tao]) VALUES (2, 36, 3, 3500000, N'Phạm Văn Hải', N'885 Tam trinh ', 1, N'0354326853 ', CAST(N'2022-03-26' AS Date))
INSERT [dbo].[hoa_don] ([id], [id_nd], [trang_thai], [tong_tien], [ten_nguoi_nhan], [dia_chi_nhan], [phuong_thuc], [sdt_nhan], [tg_tao]) VALUES (3, 36, 0, 5100000, N'Phạm Văn Hải', N'XVGW+X69, Kim Mã, Ba Đình, Hà Nội 100000', 0, N'0354326853 ', CAST(N'2022-03-27' AS Date))
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[kho] ON 

INSERT [dbo].[kho] ([id], [so_luong]) VALUES (0, 0)
INSERT [dbo].[kho] ([id], [so_luong]) VALUES (1, 34)
INSERT [dbo].[kho] ([id], [so_luong]) VALUES (2, 31)
GO
SET IDENTITY_INSERT [dbo].[kho] OFF
GO
SET IDENTITY_INSERT [dbo].[loai_sp] ON 

INSERT [dbo].[loai_sp] ([id], [ten], [mo_ta], [tg_tao]) VALUES (3, N'Giá sách gỗ', N'', CAST(N'2022-02-20' AS Date))
INSERT [dbo].[loai_sp] ([id], [ten], [mo_ta], [tg_tao]) VALUES (4, N'Kệ ti vi', N'', CAST(N'2022-02-20' AS Date))
INSERT [dbo].[loai_sp] ([id], [ten], [mo_ta], [tg_tao]) VALUES (5, N'Tủ quần áo', N'', CAST(N'2022-02-20' AS Date))
SET IDENTITY_INSERT [dbo].[loai_sp] OFF
GO
SET IDENTITY_INSERT [dbo].[nguoi_dung] ON 

INSERT [dbo].[nguoi_dung] ([id], [tai_khoan], [mat_khau], [email], [ho_ten], [ngay_sinh], [sdt], [dia_chi], [gioi_tinh], [quyen], [tg_tao]) VALUES (36, N'mitto.hai.7356', N'12345678', N'mitto.hai.73559@gmail.com', N'Phạm Văn Hải', CAST(N'2022-03-02' AS Date), N'0354326853 ', N'XVGW+X69, Kim Mã, Ba Đình, Hà Nội 100000', 0, 1, CAST(N'0001-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[nguoi_dung] OFF
GO
SET IDENTITY_INSERT [dbo].[nha_cung_cap] ON 

INSERT [dbo].[nha_cung_cap] ([id], [ten], [dia_chi], [sdt], [email]) VALUES (1, N'xưởng gỗ nội thất hà nội', N'XVGW+X69, Kim Mã, Ba Đình, Hà Nội 100000', N'1111111111111111', N'lehainam1994@gmail.com')
SET IDENTITY_INSERT [dbo].[nha_cung_cap] OFF
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([id], [ten], [id_loai_sp], [gia_tien], [giam_gia], [mo_ta], [id_kho], [id_ncc], [hinh_anh], [luot_xem], [tg_tao]) VALUES (3, N'Giá kệ sách gỗ thiết kế đơn giản GHS-2398', 3, 1600000, 0, N'sdsd', 451, NULL, N'gia-ke-sach-go-thiet-ke-don-gian-ghs-2398-ava-300x300.jpg', 9, CAST(N'2022-02-20' AS Date))
INSERT [dbo].[san_pham] ([id], [ten], [id_loai_sp], [gia_tien], [giam_gia], [mo_ta], [id_kho], [id_ncc], [hinh_anh], [luot_xem], [tg_tao]) VALUES (4, N'Kệ để sách báo gỗ MDF phủ melamine GHS-2397', 3, 1900000, 0, N'hiện tại chưa có mô tả về sản phẩm', 451, NULL, N'ke-de-sach-bao-go-mdf-phu-melamine-ghs-2397-ava-300x300.jpg', 14, CAST(N'0001-01-01' AS Date))
INSERT [dbo].[san_pham] ([id], [ten], [id_loai_sp], [gia_tien], [giam_gia], [mo_ta], [id_kho], [id_ncc], [hinh_anh], [luot_xem], [tg_tao]) VALUES (5, N'Kệ sách đa năng kiểu dáng độc đáo GHS-2395', 3, 2900000, 15, N'hiện tại chưa có mô tả về sản phẩm', 674, NULL, NULL, 12, CAST(N'0001-01-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
ALTER TABLE [dbo].[chitiet_hd] ADD  CONSTRAINT [DF_chitiet_hd_so_luong]  DEFAULT ((1)) FOR [so_luong]
GO
ALTER TABLE [dbo].[hoa_don] ADD  CONSTRAINT [DF_hoa_don_trang_thai]  DEFAULT ((0)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[hoa_don] ADD  CONSTRAINT [DF_hoa_don_tong_tien]  DEFAULT ((0)) FOR [tong_tien]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  CONSTRAINT [DF_nguoi_dung_gioi_tinh]  DEFAULT ((0)) FOR [gioi_tinh]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  CONSTRAINT [DF_nguoi_dung_quyen]  DEFAULT ((0)) FOR [quyen]
GO
ALTER TABLE [dbo].[chitiet_hd]  WITH CHECK ADD  CONSTRAINT [FK_chitiet_hd_hoa_don] FOREIGN KEY([id_hd])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[chitiet_hd] CHECK CONSTRAINT [FK_chitiet_hd_hoa_don]
GO
ALTER TABLE [dbo].[chitiet_hd]  WITH CHECK ADD  CONSTRAINT [FK_chitiet_hd_san_pham] FOREIGN KEY([id_sp])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[chitiet_hd] CHECK CONSTRAINT [FK_chitiet_hd_san_pham]
GO
ALTER TABLE [dbo].[dat_hang]  WITH CHECK ADD  CONSTRAINT [FK_dat_hang_san_pham] FOREIGN KEY([id_sp])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[dat_hang] CHECK CONSTRAINT [FK_dat_hang_san_pham]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hoa_don_nguoi_dung] FOREIGN KEY([id_nd])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hoa_don_nguoi_dung]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_san_pham_kho1] FOREIGN KEY([id_kho])
REFERENCES [dbo].[kho] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_san_pham_kho1]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_san_pham_loai_sp1] FOREIGN KEY([id_loai_sp])
REFERENCES [dbo].[loai_sp] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_san_pham_loai_sp1]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_san_pham_nha_cung_cap] FOREIGN KEY([id_ncc])
REFERENCES [dbo].[nha_cung_cap] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_san_pham_nha_cung_cap]
GO
