USE [master]
GO
/****** Object:  Database [hung_ha_store]    Script Date: 2/23/2022 5:40:13 PM ******/
CREATE DATABASE [hung_ha_store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hung_ha_store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hung_ha_store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hung_ha_store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hung_ha_store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hung_ha_store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hung_ha_store]
GO
/****** Object:  Table [dbo].[chitiet_hd]    Script Date: 2/23/2022 5:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiet_hd](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_hd] [int] NOT NULL,
	[id_sp] [int] NOT NULL,
	[gia_tien] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
 CONSTRAINT [PK_chitiet_hd] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 2/23/2022 5:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_nd] [int] NOT NULL,
	[trang_thai] [int] NOT NULL,
	[tong_tien] [int] NOT NULL,
	[tg_tao] [date] NOT NULL,
 CONSTRAINT [PK_hoa_don] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_sp]    Script Date: 2/23/2022 5:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_sp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[mo_ta] [nvarchar](255) NOT NULL,
	[tg_tao] [date] NOT NULL,
 CONSTRAINT [PK_loai_sp] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 2/23/2022 5:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan] [nvarchar](255) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[quyen] [int] NOT NULL,
	[id_thong_tin_nd] [int] NOT NULL,
	[tg_tao] [date] NOT NULL,
 CONSTRAINT [PK_nguoi_dung] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 2/23/2022 5:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[id_loai_sp] [int] NOT NULL,
	[gia_tien] [int] NOT NULL,
	[giam_gia] [int] NOT NULL,
	[mo_ta] [nvarchar](255) NOT NULL,
	[hinh_anh] [nvarchar](255) NOT NULL,
	[luot_xem] [int] NOT NULL,
	[tg_tao] [date] NULL,
 CONSTRAINT [PK_san_pham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thongtin_nd]    Script Date: 2/23/2022 5:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thongtin_nd](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_nd] [int] NOT NULL,
	[gio_tinh] [int] NOT NULL,
	[sdt] [nvarchar](50) NOT NULL,
	[dia_chi] [nvarchar](255) NOT NULL,
	[ngay_sinh] [date] NOT NULL,
 CONSTRAINT [PK_thongtin_nd] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[loai_sp] ON 

INSERT [dbo].[loai_sp] ([id], [ten], [mo_ta], [tg_tao]) VALUES (3, N'Giá sách gỗ', N'', CAST(N'2022-02-20' AS Date))
INSERT [dbo].[loai_sp] ([id], [ten], [mo_ta], [tg_tao]) VALUES (4, N'Kệ ti vi', N'', CAST(N'2022-02-20' AS Date))
INSERT [dbo].[loai_sp] ([id], [ten], [mo_ta], [tg_tao]) VALUES (5, N'Tủ quần áo', N'', CAST(N'2022-02-20' AS Date))
SET IDENTITY_INSERT [dbo].[loai_sp] OFF
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([id], [ten], [id_loai_sp], [gia_tien], [giam_gia], [mo_ta], [hinh_anh], [luot_xem], [tg_tao]) VALUES (1, N'Kệ góc bằng gỗ MDF kết cấu chắc chắn GHS-2400', 3, 1800000, 0, N'hiện tại chưa có mô tả về sản phẩm', N'ke-goc-bang-go-mdf-ket-cau-chac-chan-ghs-2400-ava-300x300.jpg', 0, CAST(N'2022-02-20' AS Date))
INSERT [dbo].[san_pham] ([id], [ten], [id_loai_sp], [gia_tien], [giam_gia], [mo_ta], [hinh_anh], [luot_xem], [tg_tao]) VALUES (2, N'Kệ để sách bằng gỗ MDF cao cấp GHS-2399', 3, 1900000, 0, N'hiện tại chưa có mô tả về sản phẩm', N'ke-de-sach-bang-go-mdf-cao-cap-ghs-2399-ava-300x300.jpg', 0, CAST(N'2022-02-20' AS Date))
INSERT [dbo].[san_pham] ([id], [ten], [id_loai_sp], [gia_tien], [giam_gia], [mo_ta], [hinh_anh], [luot_xem], [tg_tao]) VALUES (3, N'Giá kệ sách gỗ thiết kế đơn giản GHS-2398', 3, 1600000, 0, N'hiện tại chưa có mô tả về sản phẩm', N'gia-ke-sach-go-thiet-ke-don-gian-ghs-2398-ava-300x300.jpg', 0, CAST(N'2022-02-20' AS Date))
GO
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
ALTER TABLE [dbo].[chitiet_hd] ADD  CONSTRAINT [DF_chitiet_hd_so_luong]  DEFAULT ((1)) FOR [so_luong]
GO
ALTER TABLE [dbo].[hoa_don] ADD  CONSTRAINT [DF_hoa_don_trang_thai]  DEFAULT ((0)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[hoa_don] ADD  CONSTRAINT [DF_hoa_don_tong_tien]  DEFAULT ((0)) FOR [tong_tien]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  CONSTRAINT [DF_nguoi_dung_quyen]  DEFAULT ((0)) FOR [quyen]
GO
ALTER TABLE [dbo].[san_pham] ADD  CONSTRAINT [DF_san_pham_giam_gia]  DEFAULT ((0)) FOR [giam_gia]
GO
ALTER TABLE [dbo].[chitiet_hd]  WITH CHECK ADD  CONSTRAINT [FK_chitiet_hd_hoa_don] FOREIGN KEY([id_hd])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[chitiet_hd] CHECK CONSTRAINT [FK_chitiet_hd_hoa_don]
GO
ALTER TABLE [dbo].[chitiet_hd]  WITH CHECK ADD  CONSTRAINT [FK_chitiet_hd_san_pham] FOREIGN KEY([id_sp])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[chitiet_hd] CHECK CONSTRAINT [FK_chitiet_hd_san_pham]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hoa_don_nguoi_dung] FOREIGN KEY([id_nd])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hoa_don_nguoi_dung]
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD  CONSTRAINT [FK_nguoi_dung_thongtin_nd] FOREIGN KEY([id_thong_tin_nd])
REFERENCES [dbo].[thongtin_nd] ([id])
GO
ALTER TABLE [dbo].[nguoi_dung] CHECK CONSTRAINT [FK_nguoi_dung_thongtin_nd]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_san_pham_loai_sp] FOREIGN KEY([id_loai_sp])
REFERENCES [dbo].[loai_sp] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_san_pham_loai_sp]
GO
USE [master]
GO
