body {
    height: 100%;
    font-family: cursive!important;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}
.pagination-container ul.pagination li {
    padding: 2px 10px;
    border: solid 1px #a5a5a5;
    margin-right: 5px;
}

.pagination-container ul.pagination li a {
    color: #a5a5a5;
    font-weight: 600;
}

.pagination-container li.active {
    background-color: #7fad39;
}

.pagination-container li.active a {
    color: white !important;
}

.pagination-container ul.pagination li:hover {
    background-color: #7fad39;
}

.pagination-container ul.pagination li:hover a {
    color: white !important;
}

/* HIDE RADIO */
#form-create-order [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
#form-create-order [type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
#form-create-order [type=radio]:checked + img {
    outline: 2px solid #f00;
}


