
@{
    ViewBag.Title = "Index";
}
<section class="about_section layout_padding mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 ">
                <div class="img-box">
                    <img src="https://dogophuclan.com/upload/images/ke-go-trang-tri_35245.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Thông tin về chúng tối
                        </h2>
                    </div>
                    <p>
                         TODO
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

